Flask==3.0.3
Flask_Cors==4.0.1
Flask_JWT_Extended==4.6.0
flask_marshmallow==1.2.1
Flask_Migrate==4.0.7
Flask_SocketIO==5.3.6
flask_sqlalchemy==3.1.1
PyJWT==2.8.0
PyJWT==2.9.0
python-dotenv==1.0.1
SQLAlchemy==2.0.31
Werkzeug==3.0.3
